$gray-alpha:		rgba(#979797, 0.10);
$gray-dark:		rgba(#444444, .5);
$background:		#9599b3;
$white-secondary:		#f1f0f2;
$white:		#fff;
$green-high:		#b4c55b;
$green-mid:		#52912e;
$green-low:		#253e12;
$main-high:		#4ebdef;
$main-mid:		#4f8dcb;
$main-low:		#132641;

