
@import 'fontawesome.scss';

$left-arrow: 'fas fa-arrow-left';
$icon-list: "fas fa-list-ul";
$icon-alert-high: "fas fa-exclamation-triangle";
$icon-bell: "far fa-bell";
$left-arrow: "far fa-calendar-check";
$left-arrow: "fas fa-weight-hanging";
$left-arrow: "fas fa-shopping-cart";



